<div class="jumbotron text-center">
  <h1>Welcome</h1>
  <p class="lead">Welcome to mean stack appliction. You can register and create your profile or log in to your current profile.</p>
  <div>
    <a class="btn btn-primary" [routerLink]="['/register']">Register</a> <a class="btn btn-default" [routerLink]="['/login']">Login</a>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>Express</h3>
    <p>We have used express for backend Api.</p>
  </div>
  <div class="col-md-4">
    <h3>Angular 2</h3>
    <p>We have used angular2 for front end actions.</p>
  </div>
  <div class="col-md-4">
    <h3>Mongo DB</h3>
    <p>This app is built over rock solid Mongo DB.</p>
  </div>
</div>
